---
import { pages } from "@core/pages.ts";
import Question from "./Question.astro";
---

<section id="faq" class="section">
  <div class="container">
    <div class="row gx-4 gy-5">
      <div class="col-12 col-lg-6">
        <div class="text mb-5">
          <h2 class="fs-1 fw-bold">Frequently Asked Questions</h2>
          <p class="fs-5 lh-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vitae ligula et metus ultrices fermentum sit amet vel magna.
          </p>
        </div>
        <div class="d-grid d-xl-flex gap-3 mt-4">
          <div>
            <a
              class="btn btn-secondary btn-lg rounded-3 fs-5 fw-bold text-white text-nowrap w-100 w-xl-auto py-2 px-3"
              href={pages.memberForm.path}
            >
              <span class="px-4">Become a Member</span>
            </a>
          </div>
          <div>
            <a
              class="btn btn-outline-secondary btn-lg rounded-3 fs-5 fw-bold text-nowrap w-100 w-xl-auto py-2 px-3"
              href={pages.membership.path}
            >
              <span class="px-4">
                <span class="pe-1">Learn More</span>
                <i class="bi-arrow-up-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="d-flex flex-column gap-4">
          <Question question="Lorem ipsum dolor sit amet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vitae ligula et metus ultrices fermentum sit amet vel magna. In eget
            velit in lorem ultricies porttitor.
          </Question>
          <Question question="Lorem ipsum dolor sit amet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vitae ligula et metus ultrices fermentum sit amet vel magna. In eget
            velit in lorem ultricies porttitor. Mauris convallis ipsum nec nibh
            tincidunt tincidunt. Suspendisse interdum lacus nunc.
          </Question>
          <Question question="Lorem ipsum dolor sit amet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vitae ligula et metus ultrices fermentum sit amet vel magna. In eget
            velit in lorem ultricies porttitor. Mauris convallis ipsum nec nibh
            tincidunt tincidunt. Suspendisse interdum lacus nunc.
          </Question>
          <Question question="Lorem ipsum dolor sit amet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vitae ligula et metus ultrices fermentum sit amet vel magna. In eget
            velit in lorem ultricies porttitor. Mauris convallis ipsum nec nibh
            tincidunt tincidunt. Suspendisse interdum lacus nunc.
          </Question>
          <Question question="Lorem ipsum dolor sit amet">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vitae ligula et metus ultrices fermentum sit amet vel magna. In eget
            velit in lorem ultricies porttitor. Mauris convallis ipsum nec nibh
            tincidunt tincidunt. Suspendisse interdum lacus nunc.
          </Question>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .text {
    max-width: 700px;
  }
</style>
