---
import Partnered from "./overview/Partnered.astro";
---

<section id="overview" class="section">
  <div class="container">
    <div class="row gx-4 gy-5">
      <div class="col-12 col-lg-6">
        <h2 class="fs-1">
          Enhance the customer experience, boost efficiency, and lower costs.
        </h2>
      </div>
      <div class="col-12 col-lg-6">
        <p class="fs-5 lh-lg">
          Our products offer financial incentives to partners, align interests,
          and foster mutual growth. We ensure that all partners receive a fair
          share of the revenue generated. The key aspects include:
        </p>
      </div>
      <div class="col-12 col-lg-4">
        <div class="items">
          <p class="fs-5 lh-lg">
            <b>Predefined Criteria:</b> Revenue is allocated according to specific,
            transparent criteria agreed upon in advance.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="items">
          <p class="fs-5 lh-lg">
            <b>Transparency:</b> All partners have clear visibility into how revenue
            is distributed, fostering trust and collaboration.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="items">
          <p class="fs-5 lh-lg">
            <b>Fairness:</b> The model is designed to be equitable, ensuring that
            all partners benefit proportionately from their contributions.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <Partnered /> -->
</section>

<style>
  .section {
    padding: 10rem 0;
  }

  .items {
    max-width: 700px;
  }
</style>
