<div class="col-12 col-md-6 col-lg-3">
  <div class="d-flex align-items-center gap-3 rounded-3 h-100 p-3">
    <i class="bi-check-circle fs-5 text-secondary"></i>
    <p class="fs-6 mb-0">
      <slot />
    </p>
  </div>
</div>
