---
import ProductCard from "./ProductCard.astro";
---

<section id="products-category-1" class="section">
  <div class="container">
    <div class="pt-5 mt-5">
      <h2 class="fs-4 fw-bold text-primary text-center">
        Explore Our Life & Travel Products
      </h2>
      <hr />
    </div>
    <div class="row g-4">
      <ProductCard title="Medical Evacuation">
        For the traveler who wants coverage for a medical evacuation with U.S
        home hospital of choice. Available for single trips or an annual plan
        option.
      </ProductCard>
      <ProductCard title="Emergency Evacuation">
        This plan covers the unexpected medical expenses and a medical
        evacuation with the added benefit that offers U.S home hospital of
        choice.
      </ProductCard>
      <ProductCard title="Comprehensive Trip Protection">
        For travelers who want protection against unforeseen cancellations,
        interruptions or delays, and coverage when facing a medical emergency,
        and more.
      </ProductCard>
      <ProductCard title="Level Term Life">
        Accelerated underwriting and no exams up to $1 million for ages 18-50, a
        conversion option, and optional riders like the Return of Premium
        benefit.
      </ProductCard>
      <ProductCard title="Single Premium Whole Life">
        Level benefit single-premium whole life coverage that immediately
        increases estate value and allows for tax-deferred cash value growth.
      </ProductCard>
      <ProductCard title="Whole Life (Children Included)">
        Level benefit participating whole life with cash value, built-in living
        benefits, available dividends, limited pay options and guaranteed
        renewability to age 121.
      </ProductCard>
      <ProductCard title="Universal Life Insurance">
        Permanent coverage with cash value growth, flexible premiums, built-in
        living benefits and a 20-year no-lapse guarantee period for ages 0-60.
      </ProductCard>
      <ProductCard title="Life Protect+">
        Flexible bundled coverage for life, critical illness and income
        protection with instant decision available up to $1 million for ages
        18-50, and no health license required to sell.
      </ProductCard>
    </div>
  </div>
</section>

<style>
  .subtitle {
    max-width: 600px;
    margin-inline: auto;
  }

  a {
    max-width: 275px;
  }
</style>
