---
const { title } = Astro.props;
---

<div class="col-12 col-md-6 col-xl-4">
  <div class="border rounded-4 text-center py-4 px-5 h-100">
    <h3 class="fs-5 fw-bold">{title}</h3>
    <p class="fs-6 lh-lg">
      <slot />
    </p>
  </div>
</div>
