---
import ProductCard from "./ProductCard.astro";
---

<section id="products-category-1" class="section">
  <div class="container">
    <div class="pt-5 mt-5">
      <h2 class="fs-4 fw-bold text-primary text-center">
        Explore Our Business & Financial Products
      </h2>
      <hr />
    </div>
    <div class="row g-4">
      <ProductCard title="Tax Wallet">
        Ai-driven tax wallet phone app (Android & ISO) deigned for P&C Agencies,
        Tax Pros, CPAs, Financial Advisors, Estate Planning Advisors, and sales
        professionals.
      </ProductCard>
      <ProductCard title="Payroll">
        Provide your clients a simple and flexible way to manage payroll,
        employees, contractors, and benefits, while making sure taxes are paid
        automatically.
      </ProductCard>
      <ProductCard title="Merchant Services">
        Accept credit and debit card payments, in-person, online, or
        over-the-phone using eCommerce shopping carts, physical or virtual
        terminals, and POS systems.
      </ProductCard>
      <ProductCard title="Living Trust Services">
        Wholesalers Advantage has partnered with an exceptional law firm
        specializing in basic estate planning to specialty planning services.
      </ProductCard>
      <ProductCard title="TPA Services">
        PPO options, reference-based, level funded, and hybrid plans. Our plans
        include unique transparency, patient advocacy, and cost management
        options.
      </ProductCard>
      <ProductCard title="Social Media Services">
        Bring your business to new heights. These marketing services are geared
        towards agencies and brokers looking to build a business online.
      </ProductCard>
    </div>
  </div>
</section>

<style>
  .subtitle {
    max-width: 600px;
    margin-inline: auto;
  }

  a {
    max-width: 275px;
  }
</style>
