---
import { colors } from "@core/colors";

const { label, stat } = Astro.props;

const backgroundColor = colors.primary + "00";
---

<div class="col-12 col-sm-6">
  <div class="background bg-body rounded-4 p-4">
    <p class="fs-5 mb-0">{label}</p>
    <p class="fs-2 fw-bold mb-0">{stat}</p>
  </div>
</div>

<style define:vars={{ backgroundColor }}>
  .background {
    background-color: var(--backgroundColor);
  }
</style>
