---
import { Image } from "astro:assets";
import About from "@images/about.webp";
---

<div>
  <Image
    src={About}
    alt="About Wholesalers Advantage | showing team working in an office"
    class="rounded-4 w-100 h-auto"
    loading="eager"
  />
</div>
