---
import BenefitCard from "./BenefitCard.astro";
---

<section id="benefits" class="section">
  <div class="container">
    <div class="mb-5 pb-4">
      <h2 class="title fs-1 text-center mx-auto">
        Lorem ipsum dolor sit amet consectetur adipiscing
      </h2>
    </div>

    <div class="row g-1">
      <BenefitCard icon="bi-wallet" title="Member Benefit 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit Praesent dictum
        odio.
      </BenefitCard>
      <BenefitCard icon="bi-wallet" title="Member Benefit 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit Praesent dictum
        odio.
      </BenefitCard>
      <BenefitCard icon="bi-wallet" title="Member Benefit 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum
        odio.
      </BenefitCard>
      <BenefitCard icon="bi-wallet" title="Member Benefit 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum
        odio.
      </BenefitCard>
      <BenefitCard icon="bi-wallet" title="Member Benefit 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum
        odio.
      </BenefitCard>
      <BenefitCard icon="bi-wallet" title="Member Benefit 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum
        odio.
      </BenefitCard>
    </div>
  </div>
</section>

<style>
  .title {
    max-width: 600px;
  }
</style>
